# C3 Project
local/volume/**
local/prov/
**/data/**
**/curl_output.txt

# Python
*.pyc
.ipynb_checkpoints

# Mac files
.DS_Store

# node files
node_modules
package-lock.json

# vscode
**/.vscode/*

# this project
kafka/**